/* src/components/AlertMessage.css */

.custom-toast-container {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1050;
}

.slide-in {
  animation: slideIn 0.5s ease-out forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
